*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}
.box{
    position: relative;
    border-radius: 30px;
    width: 450px;
    height: 550px;
    background-color:#2f363e;
    padding: 30px 50px;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25) ,10px 10px 70px rgba(0,0,0,0.25),
     inset 5px 5px 10px rgba(0,0,0,0.5), inset 5px 5px 20px rgba(255,255,255,0.2) ,
     inset -5px -5px 15px rgba(0,0,0,0.75) ;

}
.box h2{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: blue;
    font-size: 1.75em;
    margin-bottom:10px ;
}
#taskInput{
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
position: relative;
width: 100%;
border: none;
outline: none;
padding: 15px 20px;
border-radius: 30px;
font-size: 1em;
box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
inset 2px 2px 5px rgba(0,0,0,0.5), 
inset -3px -3px 5px rgba(0,0,0,0.5)
;
}



button{
    background-color: blue;
    border-color: blue ;
    width: 40% ;
    height: 10%;
    border-radius: 40%;
    margin-left: 30%;
    margin-top: 10px;
    border-radius: 20px;

    /* position: absolute; */
    /* right: 30px; */
    /* top: 13%; */
    color: white;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(0,0,0,0.5), 
    inset -3px -3px 5px rgba(0,0,0,0.5);
    cursor: pointer;
}
.button:hover{
    color: white;
    font-weight: 800;
    background-color: green;
    border-color: darkgreen; 
}
ul{
    list-style-type:none ;
    padding: 0;
    overflow-y: auto;
    margin-bottom: 10px;
}
li{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10psx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: backround-color 0.3s;

}
.box li{
    position: relative;
    /* width: calc(100% - 40px); */
    display: flex;
    align-items: center;
    background-color: blue;
    margin: 15px 0;
    padding: 10px 10px 10px 40px;
    min-height: 45px;
    cursor: pointer;
    border-radius: 22.5px;
    color: #fff;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25), 
    inset 2px 2px 5px rgba(0,0,0,0.5),
    inset -3px -3px 5px rgba(0,0,0,0.5) ;
    border: none;
}
.box li ::before{
    content:'' ;
    position:absolute;
    top: 23px;
    left: 15px;
    width: 10px;
    height: 10px;
    background-color: #2f363e;
    border: 2px solid #607d86;
        /* border-radius: 50%; */
    transform: rotate(-45deg);

}
/* .box li ::after{ */
    /* content: ''; */
    /* position: absolute; */
    /* left: 8px; */
    /* width: 30px; */
    /* height: 30px; */
    /* background: #fff; */
    /* transform: rotate(-45deg); */
/* } */
.box li .completed{
    background-color: #607d86;
    
}
li:hover{
    background-color: #1f83f2;

}
.completed{
    text-decoration: line-through;
    color: grey;
}
.remove-btn{
    background-color: red;
    border: none;
    padding: 5px ;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    width: 70px;
    height: 30px;
}
.remove-btn :hover{
    background-color: red;
    border: 2px solid red;
    
}
#taskList{
    position: relative;
    margin-top: 0px;
    height: 350px;
    overflow-y: auto;
    padding-right: 10px;
}